{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center block-logo">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <a href="{% url 'home:home' %}">
                                <img src="{% static 'assets/brand/bapc-logo.png' %}" style="width:80px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center block-form">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body card-form">
                        <h3 class="card-title text-left">{% block formTitle %}{% endblock %}</h3>
                        {% block formArea %}
                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {% render_field field class="form-control" %}
                                        {% if field.help_text %}
                                            <small class="form-text">
                                                {{ field.help_text|safe }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% block formButtons %}
                                    <button class="btn btn-primary">Submit</button>
                                {% endblock %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TODO Move to CSS #}
    <style>
        body {
            background-color: #3b4f65
        }

        .card {
            background-color: #e8e8e8;
        {#border-radius: 1.00rem;#}
        }

        .block-logo {
            margin-bottom: 5px;
        }

        .block-form button.btn.btn-primary {
            width: 100%;
            border-radius: 1.25em;
        }

        a.bapc-link {
            color: #3b4f65;
            font-weight: 600;
        }
    </style>


{% endblock %}