{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">{% block form_title %}{% endblock %}</h3>
                        <div class="text-center"><img class="" src="{% static 'assets/brand/bootstrap-logo.png' %}" style="width:80px"></div>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {% render_field field class="form-control" %}
                                    {% if field.help_text %}
                                        <small class="form-text">
                                            {{ field.help_text|safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            {% block form_buttons %}
                            {% endblock %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TODO Move to CSS #}
    <style>
        body {
            background-color: #3b4f65
        }

        .card {
            background-color: #e8e8e8;
        }
    </style>


{% endblock %}