{% extends 'base.html' %}}
{% load static %}
{% load widget_tweaks %}
{% block body %}
    <div class="container">
        <h3>Password Reset</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text">
                            {{ field.help_text|safe }}
                        </small>
                    {% endif %}
                </div>
            {% endfor %}

            {% block form_buttons %}
            {% endblock %}
            <button class="btn">Reset password</button>
        </form>
    </div>
{% endblock %}