{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block bapc-header %}
<div class="bapc-header-title">
    <div class="row">
        <img src="http://placehold.it/60x60" style="border-radius: 50%"/>
        <div class="user-card">
            {{ title }}
            <div>@username</div>
        </div>
    </div>
</div>

<div class="bapc-header-content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if slug == 'user' %} active {% endif %}" href="{% url 'account:profile' %}"><i
                    class="material-icons pr-1">account_circle</i>Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'preferences' %} active {% endif %}"
               href="{% url 'account:preferences' %}"><i class="material-icons pr-1">settings</i>Preferences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'comments' %} active {% endif %}" href="{% url 'account:comments' %}"><i
                    class="material-icons pr-1">comment</i>Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'builds' %} active {% endif %}" href="{% url 'account:builds' %}"><i
                    class="material-icons pr-1">build</i>Builds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'notifications' %} active {% endif %}"
               href="{% url 'account:notifications' %}"><i
                    class="material-icons pr-1">priority_high</i>Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'security' %} active {% endif %}" href="{% url 'account:security' %}"><i
                    class="material-icons pr-1">security</i>Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>

{% endblock bapc-header %}

{% block bapc-body-content %}
    Default profile page
{% endblock %}


