{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block bapc-header-title %}
    <div class="row">
        <img src="http://placehold.it/60x60" style="border-radius: 50%"/>
        <div class="user-card">
            {{ title }}
            <div>@username</div>
        </div>
    </div>


{% endblock %}
{% block bapc-header-content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if slug == 'user' %} active {% endif%}" href="{% url 'account:view_profile' %}"><i class="material-icons pr-1">account_circle</i>Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'preferences'%} active {% endif%}" href="{% url 'account:view_preferences' %}"><i class="material-icons pr-1">settings</i>Preferences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'comments'%} active {% endif%}" href="{% url 'account:view_comments' %}"><i class="material-icons pr-1">comment</i>Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'builds'%} active {% endif%}" href="{% url 'account:view_builds' %}"><i class="material-icons pr-1">build</i>Builds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'notifications'%} active {% endif%}" href="{% url 'account:view_notifications' %}"><i class="material-icons pr-1">priority_high</i>Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if slug == 'security'%} active {% endif%}" href="{% url 'account:view_security' %}"><i class="material-icons pr-1">security</i>Security</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
{% endblock %}

{% block bapc-body %}
Default profile page
{% endblock %}
