{% extends 'componentBrowse.html' %}
{% load static %}

{% block searchPromptText %}
    Search Cases:
{% endblock searchPromptText %}

{% block componentSorterRow %}
    <th scope="col"></th>
    <th scope="col">Case</th>
    <th scope="col">Type</th>
    <th scope="col">Internal 2.5"</th>
    <th scope="col">Internal 3.5"</th>
    <th scope="col" class="productCol">Rating</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
{% endblock componentSorterRow %}

{% block customSlug %}
{% url 'products:case_detail' component.slug %}
{% endblock customSlug %}

{% block componentSpecificColumns %}
    <td class="indexableElement">{{ component.form_factor}}</td>
    <td class="indexableElement">{{ component.two_five_inch_bays }}</td>
    <td class="indexableElement">{{ component.three_five_inch_bays }}</td>
{% endblock componentSpecificColumns %}