{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/categoryBrowse.css' %}"/>

{% endblock extraStyles %}

{% block bapc-header-title %}{{ title }}{% endblock %}

{% block bapc-body-content %}
    <div class="row">
        <div class="browseLeftColumn col">
            <div class="panelHeader">Filters</div>
            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>
        </div>
        <div class="browseRightColumn col">
            <div class="browseSearchBar form-inline">
                {% block searchPromptText %}
                {% endblock searchPromptText %}
                <input type="text" class="form-control" placeholder=""
                       aria-label="search bar" id="partsBrowseSearchBar">
            </div>
            <div class="panelHeader">Parts</div>
            <div>
                <table class="table table-sm mt-4">
                    <thead>
                    <tr class="table-sorter-row">
                        {% block componentSorterRow %}
                        {% endblock componentSorterRow %}
                    </tr>
                    </thead>
                    <tbody>
                    {% block componentRows %}
                    {% endblock componentRows %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}