{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gpuBrowse.css' %}"/>

{% endblock extraStyles %}

{% block bapc-header-title %}{{ title }}{% endblock %}

{% block bapc-body-content %}
    <div class="row">
        <div class="browseLeftColumn col">
            <div class="panelHeader">Filters</div>
            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">MANUFACTURER</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Show All
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> ASUS
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> Zotac
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> EVGA
                    </li>
                    <li><input class="filterPanelCheckbox" type="checkbox"
                               aria-label="Checkbox for following text input"> GIGABYTE
                    </li>
                </ul>
            </div>
        </div>
        <div class="browseRightColumn col">
            <div class="browseSearchBar form-inline">
                Search Video Cards:
                <input type="text" class="form-control" placeholder=""
                       aria-label="search bar" id="partsBrowseSearchBar">
            </div>
            <div class="panelHeader">Parts</div>
            <div>
                <table class="table table-sm mt-4">
                    <thead>
                    <tr class="table-sorter-row">
                        <th scope="col"></th>
                        <th scope="col">Video Card</th>
                        <th scope="col">Chipset</th>
                        <th scope="col">Memory</th>
                        <th scope="col">Core Clock</th>
                        <th scope="col" class="productCol">Rating</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for component in components %}
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td>{{ component.model_number }}</td>
                            <td>{{ component.chipset }}</td>
                            <td>{{ component.memory_size }} GB</td>
                            <td>{{ component.clock_rate }} Ghz</td>
                            <td>
                                <div class="productStars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-o checked"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </td>
                            <td>$999.99</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Add</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}