{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/categoryBrowse.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.min.css' %}"/>
{% endblock extraStyles %}

{% block bapc-header-title %}{{ title }}{% endblock %}

{% block bapc-body-content %}
    <div class="row">
        <div class="browseLeftColumn col">
            <div class="panelHeader">Filters</div>
            <div class="filterPanel">
                <div class="filterPanelTitle">PRICE</div>
                <input id="rangeSliderFilter" type="text" class="span2" value="" data-slider-min="{{ price_range.min }}"
                       data-slider-max="{{ price_range.max }}"
                       data-slider-step="5" data-slider-value="[{{ price_range.min }},{{ price_range.max }}]"/>
            </div>

            <div class="filterPanel">
                <div class="filterPanelTitle">RATING</div>
                <ul class="list-group filterPanelListGroup">
                    <li><input class="filterPanelCheckbox filterAllCheckBox" type="checkbox"
                               aria-label="Checkbox for following text input"> All
                    </li>
                    <li><input class="filterPanelCheckbox  filterDimensionCheckbox star0" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                        </span>
                    </li>
                    <li><input class="filterPanelCheckbox filterDimensionCheckbox star1" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                        </span>
                    </li>
                    <li><input class="filterPanelCheckbox filterDimensionCheckbox star2" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                        </span>
                    </li>
                    <li><input class="filterPanelCheckbox filterDimensionCheckbox star3" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                        </span>
                    </li>
                    <li><input class="filterPanelCheckbox filterDimensionCheckbox star4" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                        </span>
                    </li>
                    <li><input class="filterPanelCheckbox filterDimensionCheckbox star5" type="checkbox"
                               aria-label="Checkbox for following text input">
                        <span class="ratingFilterStars">
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                            <span class="fa fa-star-o "></span>
                        </span>
                    </li>
                </ul>
            </div>

            {% for dimension, values in dimensions.items %}
                <div class="filterPanel">
                    <div class="filterPanelTitle">{{ dimension }}</div>
                    <ul class="list-group filterPanelListGroup">
                        {% for value in values %}
                            {% if value.filter_value == "ALL" %}
                                <li><input
                                        class="filterPanelCheckbox filterDimensionCheckbox filterAllCheckBox{{ value.checkbox_id }}"
                                        type="checkbox"
                                        aria-label="Checkbox for following text input"> All
                                </li>
                            {% else %}
                                <li><input
                                        class="filterPanelCheckbox filterDimensionCheckbox filterChoice{{ value.checkbox_id }}"
                                        type="checkbox"
                                        aria-label="Checkbox for following text input"> {{ value.filter_value }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>
        <div class="browseRightColumn col">
            <div class="browseSearchBar form-inline">
                {% block searchPromptText %}
                {% endblock searchPromptText %}
                <input type="text" class="form-control" placeholder=""
                       aria-label="search bar" id="partsBrowseSearchBar">
            </div>
            <div class="panelHeader">Parts</div>
            <div>
                <table class="table table-sm mt-4">
                    <thead>
                    <tr class="table-sorter-row">
                        {% block componentSorterRow %}
                        {% endblock componentSorterRow %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for component in components %}
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td><a class="productPageLink" href='
                                    {% block customSlug %}{% endblock customSlug %}'>{{ component.display_name }}</a>
                            </td>
                            {% block componentSpecificColumns %}
                            {% endblock componentSpecificColumns %}
                            <td>
                                <div class="productStars">
                                    {% for score in rating_range %}
                                        <span class="fa {% if component.average_rating >= score %}
                                                    fa-star checked
                                            {% endif %}
                                     {% if component.average_rating < score or component.average_rating == 0 %}
                                                    fa-star-o
                                            {% endif %}
                                      {% if component.average_rating > forloop.counter0 and component.average_rating < score %}
                                                    fa-star-half-o checked
                                            {% endif %}"></span>
                                    {% endfor %}
                                    <span>({{ component.num_ratings }})</span>
                                </div>
                            </td>
                            <td>${{ component.cheapest_price }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm addComponentButton" type="submit"
                                   id="{{ component.slug }}" href="#">Add</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block extraScripts %}
    <script>
        const filter_metadata = JSON.parse('{{ filter_metadata | safe }}');
        const range_metadata = 3;
    </script>
    <script type="text/javascript" src="{% static "js/bootstrap-slider.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sliderControl.js" %}"></script>
    <script type="module" src="{% static "js/component.js" %}"></script>
    <script type="module" src="{% static "js/componentBrowse.js" %}"></script>
{% endblock extraScripts %}