{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/productDetails.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">
{% endblock extraStyles %}

{% block bapc-header %}
    <div class="productBrowseHeader container col">
        <div class="productCategory pt-4">
            {% block customProductCategory %}
            {% endblock customProductCategory %}
        </div>
        <div class="productName">{{ component.display_title }}</div>
        <div class="productRating">
            <div class="productStars">
                {% for score in rating_range %}
                    <span class="fa {% if component.average_rating >= score %}
                                                    fa-star checked
                                            {% endif %}
                                     {% if component.average_rating < score or component.average_rating == 0 %}
                                                    fa-star-o
                                            {% endif %}
                                      {% if component.average_rating > forloop.counter0 and component.average_rating < score %}
                                                    fa-star-half-o checked
                                            {% endif %}"></span>
                {% endfor %}
            </div>
            <p><span class="productAggregates">( {{ component.average_rating }} Average / {{ component.num_ratings }} Ratings )</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block carousel %}
    <div class="owl-carousel owl-theme">
        {% block customImages %}
            <div class="carouselItem"><img src="{% static 'assets/1.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/2.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/3.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/4.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/5.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/6.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/7.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/8.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/9.jpg' %}"></div>
            <div class="carouselItem"><img src="{% static 'assets/10.jpg' %}"></div>
        {% endblock customImages %}
    </div>
{% endblock carousel %}