{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/productDetails.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/review.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">
{% endblock extraStyles %}

{% block bapc-header %}
    <div class="productBrowseHeader container col">
        <div class="productCategory pt-4">
            {{ category }}
        </div>
        <div class="productName">{{ component.display_title }}</div>
        <div class="productRating">
            <div class="productStars">
                {% for score in rating_range %}
                    <span class="fa {% if component.average_rating >= score %}
                                                    fa-star checked
                                            {% endif %}
                                     {% if component.average_rating < score or component.average_rating == 0 %}
                                                    fa-star-o
                                            {% endif %}
                                      {% if component.average_rating > forloop.counter0 and component.average_rating < score %}
                                                    fa-star-half-o checked
                                            {% endif %}"></span>
                {% endfor %}
            </div>
            <p><span class="productAggregates">( {{ component.average_rating }} Average / {{ component.num_ratings }} Ratings )</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block carousel %}
    <div class="owl-carousel owl-theme">
        {% for image in images %}
            <div class="carouselItem item"><img src="{{ image.image_link }}"></div>
        {% endfor %}
    </div>
{% endblock carousel %}

{% block bapc-body-content %}
    <div class="row">
        <div class="detailLeftColumn col">
            <div class="panelHeader">Technical Details</div>
            {% for key, value in tech_details.items %}
                {% if value %}
                    <div class="specEntry">
                        <div class="specEntryTitle">{{ key }}</div>
                        <div class="specEntryInfo">{{ value }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="detailRightColumn col">
            <button type="button" class="btn btn-primary btn-sm detailAddButton">Add to Build</button>
            <div class="panelHeader">Prices</div>
            <table class="table table-sm mt-4">
                <thead class="componentListTop">
                <tr>
                    <th scope="col">Merchant</th>
                    <th scope="col">Base</th>
                    <th scope="col">Shipping</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for price in prices %}
                    <tr>
                        <th scope="row">{{ price.store }}</th>
                        <td class="price">${{ price.price }}</td>
                        <td class="shipping">
                            {% if price.shipping > 0.0 %}
                                ${{ price.shipping }}
                            {% endif %}
                            {% if price.shipping == 0.0 %}
                                FREE
                            {% endif %}
                        </td>
                        <td class="availability inStock">{{ price.availability }}</td>
                        <td class="lineTotal">${{ price.total_price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panelHeader">Reviews</div>
            {% for review in reviews %}
                <div class="reviewWrapper">
                    <div class="reviewUserPicture"><img src="http://placehold.it/60x60"/></div>
                    <div class="reviewContent">
                        <div class="reviewInformation">
                            <span class="reviewInformationEntry">{{ review.user.user.username }}</span>
                            <span class="reviewInformationEntry">{{ review.points }} points</span>
                            <span class="reviewInformationEntry">{{ review.time_added }}</span>
                        </div>
                        <div class="reviewRating">
                            <div class="productStars">
                                {% for score in rating_range %}
                                    <span class="fa {% if review.stars >= score %}
                                                    fa-star checked
                                            {% endif %}
                                     {% if review.stars < score or review.stars == 0 %}
                                                    fa-star-o
                                            {% endif %}
                                      {% if review.stars > forloop.counter0 and review.stars < score %}
                                                    fa-star-half-o checked
                                            {% endif %}"></span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="reviewMessage">
                            {{ review.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block extraScripts %}
    <script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/onReady.js" %}"></script>
{% endblock extraScripts %}