{% extends 'componentBrowse.html' %}
{% load static %}

{% block searchPromptText %}
    Search Processors:
{% endblock searchPromptText %}

{% block componentSorterRow %}
    <th scope="col"></th>
    <th scope="col">CPU</th>
    <th scope="col">Cores</th>
    <th scope="col">TDP</th>
    <th scope="col">Clock Rate</th>
    <th scope="col" class="productCol">Rating</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
{% endblock componentSorterRow %}

{% block customSlug %}
{% url 'products:cpu_detail' component.slug %}
{% endblock customSlug %}

{% block componentSpecificColumns %}
    <td class="indexableElement">{{ component.cores }}</td>
    <td class="indexableElement">{{ component.watts }}W</td>
    <td class="indexableElement">{{ component.stock_freq }}Ghz</td>
{% endblock componentSpecificColumns %}

