{% extends 'componentBrowse.html' %}
{% load static %}

{% block searchPromptText %}
    Search Video Cards:
{% endblock searchPromptText %}

{% block componentSorterRow %}
    <th scope="col"></th>
    <th scope="col">Video Card</th>
    <th scope="col">Chipset</th>
    <th scope="col">Memory</th>
    <th scope="col">Core Clock</th>
    <th scope="col" class="productCol">Rating</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
{% endblock componentSorterRow %}

{% block customSlug %}
{% url 'products:gpu_detail' component.slug %}
{% endblock customSlug %}

{% block componentSpecificColumns %}
    <td class="indexableElement">{{ component.chipset }}</td>
    <td class="indexableElement">{{ component.memory_size }} GB</td>
    <td class="indexableElement">{{ component.clock_rate }} Ghz</td>
{% endblock componentSpecificColumns %}

