{% extends 'categoryBrowse.html' %}
{% load static %}

{% block searchPromptText %}
    Search Monitors:
{% endblock searchPromptText %}

{% block componentSorterRow %}
    <th scope="col"></th>
    <th scope="col">Monitor</th>
    <th scope="col">Resolution</th>
    <th scope="col">Size</th>
    <th scope="col">Resp. Time</th>
    <th scope="col" class="productCol">Rating</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
{% endblock componentSorterRow %}

{% block componentRows %}
    {% for component in components %}
        <tr>
            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
            <td>{{ component.display_name }}</td>
            <td>{{ component.resolution }}</td>
            <td>{{ component.screen_size }}"</td>
            <td class="responseTimeEntry">{{ component.response_time }} ms</td>
            <td>
                <div class="productStars">
                    {% for score in rating_range %}
                        <span class="fa {% if component.average_rating >= score %}
                                                    fa-star checked
                                            {% endif %}
                                     {% if component.average_rating < score or component.average_rating == 0 %}
                                                    fa-star-o
                                            {% endif %}
                                      {% if component.average_rating > forloop.counter0 and component.average_rating < score %}
                                                    fa-star-half-o checked
                                            {% endif %}"></span>
                    {% endfor %}
                    <span>({{ component.num_ratings }})</span>
                </div>
            </td>
            <td>${{ component.cheapest_price }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Add</button>
            </td>
        </tr>
    {% endfor %}
{% endblock componentRows %}