{% extends 'componentBrowse.html' %}
{% load static %}

{% block searchPromptText %}
    Search Monitors:
{% endblock searchPromptText %}

{% block componentSorterRow %}
    <th scope="col"></th>
    <th scope="col">Monitor</th>
    <th scope="col">Resolution</th>
    <th scope="col">Size</th>
    <th scope="col">Resp. Time</th>
    <th scope="col" class="productCol">Rating</th>
    <th scope="col">Price</th>
    <th scope="col"></th>
{% endblock componentSorterRow %}

{% block customSlug %}
{% url 'products:monitor_detail' component.slug %}
{% endblock customSlug %}

{% block componentSpecificColumns %}
    <td class="indexableElement">{{ component.resolution }}</td>
    <td class="indexableElement">{{ component.screen_size }}"</td>
    <td class="responseTimeEntry indexableElement">{{ component.response_time }} ms</td>
{% endblock componentSpecificColumns %}