# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

#Pycharm
.idea

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

