{% extends 'profile.html' %}

{% block bapc-body-content-container %}
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="mt-2">Build List</h2>
                <ul class="list-group">
                    {% if builds %}
                        {% for item in builds %}
                            <li class="list-group-item {% if pk == item.id %}active{% endif %}"><a
                                    href="{% url 'user:builds' browse_user.username %}{{ item.id }}"
                                    class="bapc-link">Build {{ item.id }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item {% if pk == item.id %}active{% endif %}">No builds yet. Create one!</li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-8">
                {% if build %}
                    <table class="table table-striped">
                        <thead class="componentListTop">
                        <tr>
                            <th scope="col">Component</th>
                            <th scope="col"></th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Shipping</th>
                            <th scope="col">Merchant</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Video Card</th>
                            <td>Pic</td>
                            <td>{{ build.gpu }}</td>
                            <td>{{ build.gpu.cheapest_price }}</td>
                            <td class="shippingCost">{{ build.gpu.cheapest_price_shipping }}</td>
                            <td>
                                <a href="{{ build.gpu.cheapest_price_store_link }}">{{ build.gpu.cheapest_price_store }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Buy</button>
                            </td>
                            <td>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">CPU</th>
                            <td>Pic</td>
                            <td>{{ build.cpu }}</td>
                            <td>{{ build.cpu.cheapest_price }}</td>
                            <td class="shippingCost">{{ build.gpu.cheapest_price_shipping }}</td>
                            <td>
                                <a href="{{ build.cpu.cheapest_price_store_link }}">{{ build.cpu.cheapest_price_store }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Buy</button>
                            </td>
                            <td>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Monitor</th>
                            <td>Pic</td>
                            <td><a href="/products/gpu/monitor">{{ build.monitor }}</a>
                            </td>
                            <td>{{ build.monitor.cheapest_price }}</td>
                            <td class="shippingCost">{{ build.monitor.cheapest_price_shipping }}</td>
                            <td>
                                <a href="{{ build.monitor.cheapest_price_store_link }}">{{ build.monitor.cheapest_price_store }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm">Buy</button>
                            </td>
                            <td>
                                <button type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                            </td>
                        </tr>
                        <tr class="totalPriceSummaryRow">
                            <th class="totalPriceSummaryPrefix" colspan="5" scope="row">Total:</th>
                            <td>{{ build.total_price }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}