{% extends 'profile.html' %}
{% load common_tags %}
{% block bapc-body-content-container %}


    <div class="container py-3">
        {% for review in reviews %}
            <div class="mt-3">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="font-weight-bold" style="display: flex;">
                            <a href="">{{ review.component }}</a>
                            <div class="ml-2">- {{ review.time_added }}</div>
                        </div>
                        <div>
                            {{ review.stars|get_stars|safe }}
                        </div>
                        <b href="#">{{ review.user }}</b>
                        <p class="card-text">{{ review.content }}</p>

                        <ul class="flat-list list-inline text-center d-flex">
                            <li>permalink</li>
                            <li>save</li>
                            <li>full comments({{ review.component.num_ratings }})</li>
                            <li>edit</li>
                            <li class="text-danger">delete</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}

        {#        <div class="mt-3">#}
        {#            <div class="card mb-2">#}
        {#                <div class="card-body">#}
        {#                    <div class="font-weight-bold" style="display: flex;">#}
        {#                        <a href="#">What to do when faced with a hit run?</a>#}
        {#                        <div class="ml-2">by <a href="#">USER123</a></div>#}
        {#                    </div>#}
        {#                    <a href="#">{{ user.username }}</a>#}
        {#                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
        {#                        card's content.</p>#}
        {##}
        {#                    <ul class="flat-list list-inline text-center d-flex">#}
        {#                        <li>permalink</li>#}
        {#                        <li>save</li>#}
        {#                        <li>full comments</li>#}
        {#                        <li>edit</li>#}
        {#                        <li>delete</li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}