{% extends 'profile.html' %}

{% block bapc-body-content-container %}

    <div class="container py-3">
        <table class="tbl-pref">
            <tbody>
            <tr>
                <th>clicking options</th>
                <th class="tbl-pref-options">
                    {% for field in click_options_form %}
                        <div>
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <th>email options</th>
                <th class="tbl-pref-options">
                    {% for field in email_options_form %}
                        <div>
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <th>privacy</th>
                <th class="tbl-pref-options">
                    {% for field in privacy_options_form %}
                        <div>
                            {{ field }}
                            {{ field.label }}
                        </div>
                    {% endfor %}
                </th>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}