{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}



{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}"/>
    {% block extraUserProfileStyles %}
    {% endblock %}
{% endblock %}



{% block title %}{{ title }}{% endblock %}


{% block bapc-header %}
    <div class="bapc-header-title">
        <div class="row">
            <img class="profile-avatar"
                 src="{% if browse_user.userprofile.avatar %} {{ browse_user.userprofile.avatar.url }}
                {% else %}{% static 'assets/maple_leaf_80x80.png' %} {% endif %}"/>
            <div class="user-card">
                {{ title }}
                <div>
                    {{ browse_user.username }}
                </div>
            </div>
        </div>
    </div>

    {% url 'user:profile' username as url_profile %}
    {% url 'user:preferences' username as url_preferences %}
    {% url 'user:comments' username as url_comments %}
    {% url 'user:saved' username as url_saved %}
    {% url 'user:builds' username as url_builds %}
    {% url 'user:security' username as url_security %}

    <div id="prof-tab" class="bapc-header-content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_profile %} active {% endif %}" href={{ url_profile }}><i
                        class="material-icons pr-1">account_circle</i><span>Profile</span></a>
            </li>
            {% if browse_user.username == user.username %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_preferences %} active {% endif %}"
                       href={{ url_preferences }}><i
                            class="material-icons pr-1">settings</i><span>Preferences</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url_security %} active {% endif %}"
                       href={{ url_security }}><i
                            class="material-icons pr-1">security</i><span>Security</span></a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_comments %} active {% endif %}"
                   href={{ url_comments }}><i
                        class="material-icons pr-1">comment</i><span>Comments</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_saved %} active {% endif %}"
                   href={{ url_saved }}><i
                        class="material-icons pr-1">save</i><span>Saved Parts</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == url_builds %} active {% endif %}"
                   href={{ url_builds }}><i
                        class="material-icons pr-1">build</i><span>Builds</span></a>
            </li>
        </ul>
    </div>
{% endblock bapc-header %}

{% block bapc-body-content-container %}

    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2 class="mt-2">Account</h2>
                <h5>COMMENT KARMA</h5>
                <a href="#">0</a>
                <h5>COMMENTS</h5>
                <a href="#">0</a>
                <h5>POSTS</h5>
                <a href="#">0</a>
                <h5>BUILD GUIDES</h5>
                <a href="#">0</a>
                <h5>COMPLETED BUILDS</h5>
                <a href="#">0</a>
                <h5>JOINED</h5>
                {{ browse_user.date_joined }}
            </div>
            <div class="col">
                <h2 class="mt-2">Profile Settings</h2>
                <h4>Biography</h4>
                {% if browse_user.username == user.username %}
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in biography_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                                <small class="form-text">
                                    {{ field.help_text|safe }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {#                    </form>#}
                {% else %}
                    <p>{{ browse_user.userprofile.biography }}</p>
                {% endif %}
                {% if browse_user.username == user.username %}
                    <h4>Avatar</h4>
                    {% if browse_user.userprofile.avatar %}
                        <img src="{{ browse_user.userprofile.avatar.url }}"
                             style="border-radius: 50%; width: 60px; height: 60px">
                    {% endif %}
                    {#                    <form id="avatar_form" enctype="multipart/form-data" method="post">#}
                    {#                    {% csrf_token %}#}
                    {% for field in avatar_form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                                <small class="form-text">
                                    {{ field.help_text|safe }}
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn" id="profile-form-submit">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script>
    </script>
{% endblock %}
