{% extends 'profile.html' %}

{% block extraStyles %}
    <style>
        .round-field {
            padding: 11px 11px;
            background-color: #e6e6e6;
            border-radius: 7px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block bapc-body-content-container %}

    <div class="container py-3">

        <h3>Change email</h3>
        <div class="round-field">
            <label style="font-weight: bold;">current password</label>
            <input class="form-control" type="password" style="border: 2px solid #636363; ">
        </div>
        <div class="round-field">
            <label style="font-weight: bold;">email</label>
            <input class="form-control" type="password" style="border: 2px solid #636363; ">
        </div>
        <button class="btn btn-primary">save</button>

        <h3>Change password</h3>
        <div class="round-field">
            <label style="font-weight: bold;">current password</label>
            <input class="form-control" type="password" style="border: 2px solid #636363; ">
        </div>
        <div class="round-field">
            <label style="font-weight: bold;">new password</label>
            <input class="form-control" type="password" style="border: 2px solid #636363; ">
        </div>
        <div class="round-field">
            <label style="font-weight: bold;">verify password</label>
            <input class="form-control" type="password" style="border: 2px solid #636363; ">
        </div>
        <button class="btn btn-primary">save</button>
    </div>

{% endblock %}