{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/build.css' %}"/>
{% endblock extraStyles %}

{% block bapc-header-title %}{{ title }}{% endblock %}

{% block bapc-body-content %}
    {# TOOLBAR #}
    <div class="container buildToolbarTop ">
        <div class="btn-toolbar mb-3 mt-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="input-group">
                {% if not build.is_pristine %}
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">Permalink</div>
                    </div>
                    {#                TODO CHANGE THE URL HERE#}
                    <input type="text" class="form-control" value="http://127.0.0.1:8000/list/{{ build.shortcode }}"
                           aria-label="Input group example" aria-describedby="btnGroupAddon">
                {% endif %}
            </div>
            <div class="mr-2" aria-label="Toolbar Controls">
                <button type="button" class="btn btn-secondary save-as-button">
                    Save as
                </button>
                <div class="modal fade save-as-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Save build</h5>
                            </div>
                            <div class="modal-body">
                                <form class="form-inline save-modal-form">
                                    <div class="form-group">
                                        <label for="build-name-label" class="col-form-label build-label">Name:</label>
                                        <input type="text" class="form-control build-name">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary save-modal-confirm">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary new-build-button">New Build</button>
            </div>
        </div>
    </div>
    {# END TOOLBAR #}


    {# COMPONENT LIST #}
    <div>
        <table class="table table-striped componentListTable">
            <thead class="componentListTop">
            <tr>
                <th scope="col">Component</th>
                <th scope="col"></th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Shipping</th>
                <th scope="col">Merchant</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="componentListBody">
            {% for category, component in component_list.items %}
                <tr>
                    {% if not component.object %}
                        {#                        <td class="productImage"></td>#}
                        {#                        <td>#}
                        {#                            <a href="{% url component.category_link %}" class="btn btn-primary btn-sm" role="button">Add#}
                        {#                                a#}
                        {#                                {{ category }}</a>#}
                        {#                        </td>#}
                        {#                        <td></td>#}
                        {#                        <td class="shippingCost"></td>#}
                        {#                        <td></td>#}
                        {#                        <td></td>#}
                        {#                        <td></td>#}
                    {% else %}
                        <th scope="row"><a class="browseCategory"
                                           href="{% url component.category_link %}">{{ category }}</a></th>
                        <td class="productImage">
                            <div class="imageWrapper">
                                <img src="{% static 'assets/gpu.jpg' %}">
                            </div>
                        </td>
                        <td><a class="productTitle"
                               href="{% url component.detail_link component.object.slug %}">{{ component.object.display_title }}</a>
                        </td>
                        <td><a class="productPrice" href="{{ component.object.cheapest_price_store_link }}">
                            ${{ component.object.cheapest_price }}</a>
                        </td>
                        <td class="shippingCost">
                            {% if component.object.cheapest_price_shipping > 0.0 %}
                                ${{ component.object.cheapest_price_shipping }}
                            {% endif %}
                            {% if component.object.cheapest_price_shipping == 0.0 %}
                                FREE
                            {% endif %}
                        </td>
                        <td><a class="productShopLink" href="{{ component.object.cheapest_price_store_link }}">
                            {{ component.object.cheapest_price_store }}</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="{{ component.object.cheapest_price_store_link }}">Buy</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tr class="totalPriceSummaryRow">
                <th class="totalPriceSummaryPrefix" colspan="5" scope="row">Total:</th>
                <td>${{ build.total_price }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    {# END COMPONENT LIST #}

{% endblock %}

{% block alerts %}
    <div id="errorAlert" class="alert alert-danger">
        <strong>Error!</strong> <span class="errorAlertContent"></span>
    </div>
    <div id="successAlert" class="alert alert-success" role="alert">
        <strong>Success!</strong> <span class="successAlertContent"></span>
    </div>
{% endblock alerts %}


{% block extraScripts %}
    <script type="module" src="{% static "js/component.js" %}"></script>
{% endblock extraScripts %}