<!DOCTYPE html>
{% load static %}
{#{% load compile_static %}#}
<html>
<head>
    <title>{{ title }} - BAPCCanada</title>
    {# STYLESHEETS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.less' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.less' |compile %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% block extraStyles %}
    {% endblock extraStyles %}
</head>

<body>
{% block body %}

    {# NAVBAR #}
    {% include 'navbar.html' %}
    {# END NAVBAR #}

    <div class="bapc-header">
        <div class="container">
            {% block bapc-header %}
                <div class="bapc-header-title">
                    <h2>{% block bapc-header-title %}
                    {% endblock bapc-header-title %}</h2>
                </div>
                <div class="bapc-header-content">
                    {% block bapc-header-content %}
                    {% endblock bapc-header-content %}
                </div>
            {% endblock bapc-header %}
        </div>

    </div>
    <div class="carouselWrapper container">
        {% block carousel %}
        {% endblock carousel %}
    </div>

    <div class="bapc-body-content">
        <div class="container">
            {% block bapc-body-content %}
            {% endblock bapc-body-content %}
        </div>
    </div>


    {% include 'footer.html' %}

{% endblock body %}
{# JAVASCRIPT #}

{#<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static "js/onReady.js" %}"></script>

{% block extraScripts %}

{% endblock extraScripts %}
</body>
</html>