{% load static %}

<footer class="footer">
    <div class="container footerContainer mt-3">
        <div class="row font-weight-bold">
            <div class="col-12 col-md d-flex">
                <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                <img class="ml-2" src="{% static 'assets/brand/bapc-logo.png' %}" alt="" width="24" height="24">
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/tangjon/PROJECT-PCPARTS">Read the docs</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Built With</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://www.python.org/">Python 3.7</a></li>
                    <li><a class="text-muted" href="https://www.djangoproject.com/">Django 2.0.4</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.com/">Boostrap 4.1</a></li>
                    <li><a class="text-muted" href="https://jquery.com/">jQuery</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contributers</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/Gao-Gary">Gary Gao (@Gao-Gary)</a></li>
                    <li><a class="text-muted" href="https://github.com/tangjon">Jonathan Tang (@tangjon)</a></li>
                    <li><a class="text-muted" href="https://github.com/tangjon/PROJECT-PCPARTS">Source Code</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>