{% load static %}
<!--suppress ALL -->
{% url 'home:home' as url_home %}
{% url 'build:create' as url_build %}
{% url 'products:gpu' as url_gpu %}
{% url 'products:cpu' as url_cpu %}
{% url 'products:monitors' as url_monitor %}
<nav class="navbar navbar-expand-md bapc-navbar navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/brand/bapc-logo.png' %}" width="30" height="30"
                 class="d-inline-block align-top">
            Build A PC Canada
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if request.path == url_home %}active{% endif %}" href={{ url_home }}>Home
                    <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link {% if request.path == url_build %}active{% endif %}" href="{{ url_build }}">Build</a>
                <li class="nav-item dropdown partsDropDown">
                    <a class="nav-link dropdown-toggle partsDropDown-toggle nav-link
                       {% if request.path == url_gpu or request.path == url_monitor or request.path == url_cpu %}active{% endif %}"
                       id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Parts
                    </a>
                    <div class="dropdown-menu partsDropDown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_cpu }}">Processor</a>
                        <a class="dropdown-item" href="{{ url_gpu }}">Video Card</a>
                        <a class="dropdown-item" href="{{ url_monitor }}">Monitor</a>
                    </div>
                </li>
            </div>

            {# TODO Login Configuration #}
            <div class="navbar-account d-block ml-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                    {#                    <h5><span style="font-weight: 300; color: white">Welcome</span> <a data-toggle="dropdown"#}
                    {#                                                                                       class="text-light"#}
                    {#                                                                                       href="{% url 'user:profile' user.username %}">{{ user.username }}</a>#}

                    <div class="dropdown dropdown-menu-right">
                        <div class="nav-welcome" data-toggle="dropdown">
                            <h5 style="font-weight: 300; color: white">Welcome</h5>
                            <h5 class="ml-1">{{ user.username }}</h5>
                            <div class="dropdown-toggle"
                                 aria-haspopup="false"
                                 aria-expanded="false">
                            </div>
                        </div>
                        <div class="dropdown-menu bapc-dropdown-menu">
                            <a class="dropdown-item" href="{% url 'user:profile' user.username %}"><i
                                    class="material-icons">account_circle</i>Profile</a>
                            <a class="dropdown-item" href="{% url 'user:preferences' user.username %}"><i
                                    class="material-icons">settings</i>Preferences</a>
                            <a class="dropdown-item bg-danger text-light" href="{% url 'account:logout' %}"><i
                                    class="material-icons">power_settings_new</i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'account:login' %}">Sign In</a>
                    <a class="btn btn-secondary ml-2" href="{% url 'account:sign_up' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>

    </div>

</nav>