{% load static %}

<!--suppress ALL -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/brand/bootstrap-logo.png' %}" width="30" height="30"
                 class="d-inline-block align-top">
            Build A PC Canada
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'build:create' %}">Build</a>
                <a class="nav-item nav-link" href="{% url 'products:gpu' %}">Parts</a>
            </div>

            {# TODO Login Configuration #}
            <div class="navbar-account d-block ml-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                    <h5>Welcome <a class="" href="{% url 'user:profile' %}">{{ user.username }}</a></h5>
                    <div class="dropdown">
                        <button class="dropdown-toggle bg-transparent" data-toggle="dropdown"
                                aria-haspopup="false"
                                aria-expanded="false">
                        </button>
                        <div class="dropdown-menu bapc-dropdown-menu">
                            <a class="dropdown-item" href="{% url 'user:profile' %}"><i class="material-icons">account_circle</i>Profile</a>
                            <a class="dropdown-item" href="{% url 'user:preferences' %}"><i class="material-icons">settings</i>Preferences</a>
                            <a class="dropdown-item bg-danger text-light" href="{% url 'account:logout' %}"><i
                                    class="material-icons">power_settings_new</i>Logout</a>
                        </div>
                    </div>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'account:sign_in' %}">Sign In</a>
                    <a class="btn btn-secondary ml-2" href="{% url 'account:sign_up' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>

    </div>

</nav>

<style>
    .dropdown-toggle::after {
    {#content: none;#}
    }

    .bg-transparent {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .bapc-dropdown-menu > a.dropdown-item {
        display: flex;
    }
</style>