{% extends 'base.html' %}

{% block extraStyles %}
    <style>
        .deal-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .deal-block {
            width: 185px;
            border: #ccc solid 1px;
            margin: 5px;
            padding: 10px 12px;
            text-align: center;
        }

        .deal-logo {
            width: 150px;
        }

        .deal-lowest-price {
            color: grey;
        }

        .deal-current-price {
            color: red;
        }
    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block bapc-header-title %}{{ title }}{% endblock %}
{% block bapc-body-content-container %}

    <div class="container home-container">

        <div>
            {# TODO display on if complete       #}

            <div class="row">
                <div class="col">
                    <h3>Top bapcsalescanada <img style="width: 40px" src="http://i.imgur.com/sdO8tAw.png"> Posts</h3>
                </div>
                <div class="col">
                    <div class="flat-panel">
                        <h3>Recent Builds</h3>
                        <a class="btn btn-primary bapc-link text-white" href="{% url 'build:create' %}">Start a
                            Build</a>
                    </div>
                    {% for build in builds %}
                        <h4>{{ build.name|default_if_none:""}}</h4>
                        {#                                    <div>{{ build.cpu }}</div>#}
                        <div>{{ build.gpu|default_if_none:""}}</div>
                        <div>{{ build.monitor.get_page_title|default_if_none:""}}</div>
                        <div class="flat-panel">
                            <div>By <a href="{% url 'user:profile' build.owner.user.username %}">{{ build.owner }}</a>
                            </div>
                            <span>Points {{ build.points }}</span>
                        </div>

                        <hr>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div>


        </div>


        <div class="deal-highlight">
            <h3>Top Deals / Monthly Lows</h3>
            <div class="deal-grid">
                {% for key, deal in deals.items %}
                    <div class="deal-block">
                        <img class="deal-logo"
                             src="https://www.overclockers.co.uk/media/image/thumbnail/GX410AS_162110_800x800.jpg">
                        <div class="deal-component bapc-link">{{ deal.component }}</div>
                        <div class="deal-lowest-price">lowest price: {{ deal.cheapest_price }}</div>
                        <div class="deal-current-price"><strong>now: {{ deal.current_price }}</strong></div>
                        <img src="https://static.ebates.ca//images/campaigns/2015/site/AmazonCA-small.gif"
                             class="deal-store">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}