{% extends 'base.html' %}
{% load static %}
{% block extraStyles %}
    <style>

    </style>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block bapc-header-div %}{% endblock %}

{% block bapc-header-title %}{{ title }}{% endblock %}

{% block bapc-body-content-container %}
    <div class="container home-container pt-3">
        <div>
            <div class="row">
                <div class="col" id="component-category">
                    <h3 class="bapc-section-title">PC Components</h3>
                    <hr class="bapc-bar">
                    <div id="component-grid">
                        {% for key, component in navComponents.items %}
                            <a id="{{ key }}" class="bapc-link cat-block grow" href="{{ component.url }}">
                                <h4 class="cat-title">{{ component.name }}</h4>
                                <img src="{{ component.img }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col" id="recent-builds">
                    <div class="flat-panel">
                        <h3 class="bapc-section-title">Recent Builds</h3>
                        <a class="btn bapc-link btn-secondary text-white" href="{% url 'build:create' %}">Start a
                            Build</a>
                    </div>
                    <hr class="bapc-bar">
                    {% for build in builds %}
                        <div class="recent-build">
                            <a class="bapc-link" href="{{ build.get_link }}"><h4>{{ build.name|default_if_none:""}}</h4>
                            </a>
                            <hr class="bapc-bar-entry">
                            <div class="recent-build-body">
                                {% for  category, component in build.get_component_dict.items %}
                                    <div>{{ component.object.display_title }}</div>

                                {% endfor %}
                            </div>
                            <div class="flat-panel">
                                <div>By <a
                                        href="{% url 'user:profile' build.owner.user.username %}">{{ build.owner }}</a>
                                </div>
                                <div>{{ build.date_published }}</div>
                                <span>Points {{ build.points }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="deal-highlight">
            <h3 class="bapc-section-title">Top Deals! (placeholders)</h3>
            <hr class="bapc-bar">
            <div class="deal-grid">
                {% for deal in deals %}
                    <div class="deal-block">
                        <img class="deal-logo"
                             src="{{ deal.image_link }}">
                        <a href="{{ deal.component_link }}">
                            <div class="deal-component bapc-link">{{ deal.component }}</div>
                        </a>
                        <div class="deal-lowest-price">lowest price: {{ deal.cheapest_price }}</div>
                        <div class="deal-current-price"><strong>now: {{ deal.current_price }}</strong></div>
                        <img src="https://static.ebates.ca//images/campaigns/2015/site/AmazonCA-small.gif"
                             class="deal-store">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}