body .bapc-header {
    background-color: #4E5EA6;
}

.bapc-body-content .browseLeftColumn {
    border-right: 1px solid #e3e3e3;
    min-height: 992px;
    max-width: 250px;
    padding: 26px 32px 32px 16px;
}

.bapc-body-content .browseRightColumn {
    width: 890px;
    padding: 26px 0px 32px 32px;
}

.browseSearchBar {
    font-size: 12px;
    float: right;
    margin-top: -0.45rem;
}

.browseSearchBar input {
    margin-left: 10px;
    height: 30px;
}

.table-sorter-row th {
    border-top-color: transparent;
}

.panelHeader {
    font-size: 22px;
    margin: 0 0 1em 0;
    font-weight: 400;
    padding-bottom: .5em;
    border-bottom: 1px solid #cfcfcf;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.filterPanelTitle {
    text-transform: uppercase;
    color: #8d8f9e;
    margin-bottom: 6px;
    font-size: 14px;
}

.filterPanel {
    border-bottom: solid 1px #dedede;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.filterPanel li {
    line-height: 1.5rem;
}

.filterPanel .filterPanelCheckbox {
    vertical-align: middle;
}

.productStars span:not(:last-child) {
    color: orange;
    font-size: 9px;
}

.productStars span:last-child {
    font-size: 14px;
    line-height: 16px;
    padding: 5px;
}

.bapc-body-content .browseRightColumn .table-sorter-row .productCol {
    /* required for 5 stars to be on same line */
    min-width: 100px;
}

.bapc-body-content .browseRightColumn .responseTimeEntry {
    text-align: center;
}

.bapc-body-content .browseRightColumn .productPageLink {
    color: #252835;
    font-weight: 700;
    font-size: 14px;
}

.bapc-body-content .browseRightColumn .productPageLink:hover {
    color: #2c85c5;
    text-decoration: none;
}

.slider.slider-horizontal:hover .tooltip.tooltip-main,
.slider.slider-vertical:hover .tooltip.tooltip-main {
    opacity: 1 !important;

}