.bapc-header {
    justify-content: center;
    text-align: center;
    background: #4E5EA6;

}

.bapc-header .container {
    max-width: 1200px;
}

.productStars span {
    color: orange;
    font-size: 32px;
}

.productBrowseHeader .productCategory {
    opacity: 1;
    font-weight: 700;
    font-size: 14px;
    color: #95A1D6;
}

.productBrowseHeader .productName {
    font-size: 48px;
    margin: 0 0 .375em 0;
    line-height: 1.125em;
    font-weight: 700;
}

.productBrowseHeader .productAggregates {
    color: #95A1D6;
}

.productBrowseHeader p {
    margin-top: 12px;
    padding-bottom: 16px;
}

.carouselItem {
    width: 128px;
    height: 128px;
    overflow: hidden;
    cursor: pointer;
}
