/*

GLOBAL CSS

*/

/*
NAVIGATION BAR
*/

.bg-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.bapc-dropdown-menu > a.dropdown-item {
    display: flex;
}

.bapcNav {
    background-color: #40a0ee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bapcNav a.navbar-brand, .bapcNav a.nav-item.nav-link {
    font-weight: 500;
}

.partsDropDown:hover > .partsDropDown-menu {
    display: block;
}

.partsDropDown-toggle::after {
    display: none;
}

.partsDropDown .partsDropDown-menu {
    margin-top: -0.35rem;
}

.partsDropDown .nav-link {
    font-weight: 500;
}

/*
GENERAL CSS
*/
a:hover {
    color: #f73e44;
}

.bapc-header-content a {
    color: white;
}

a.bapc-link {
    color: #3b4f65;
    font-weight: 600;
}

/*
STICKER FOOTER
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 180px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
    border-top: 1px solid #e3e3e3;
}

.footer .footerContainer .row {
    justify-content: center;
}

.alertWrapper {
    left: 50%;
    position: absolute;
    bottom: 180px;
    width: 50%;
}

.alertInnerWrapper {
    position: relative;
    left: -50%;
}

/* HEADER */
.bapc-header {
    background-color: #292933;
    color: white;
    font-weight: 500;
}

.bapc-header-title {
    padding-bottom: 30px;
    padding-top: 30px;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #252835;
}
