/* ACCOUNTS TAB */
.user-card {
    margin: auto 0;
    padding-left: 12px;
}

.bapc-header a.nav-link {
    display: inline-flex;
    vertical-align: middle;
}

/* COMMENTS TAB */

.flat-list {
    display: flex;
    margin-bottom: 0
}

ul.flat-list li {
    flex: 1 1 auto;
}