/* PROFILE TABS */

#prof-tab a {
    display: inline-flex;
    vertical-align: middle;
}

.profile-avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 5px outset;
}

/* ACCOUNTS TAB */
.user-card {
    margin: auto 0;
    padding-left: 12px;
}

/* COMMENTS TAB */
.flat-list {
    display: flex;
    margin-bottom: 0;
    list-style-type: none;
}

ul.flat-list li {
    flex: 1 1 auto;
}

/*PREFERENCES*/
.tbl-pref th + th {
    padding-left: 20px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;

}

.tbl-pref th:first-of-type {
    vertical-align: top;
    text-align: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tbl-pref tr {
    margin-bottom: 5px;
}

/* SECURITY */
.round-field {
    padding: 11px 11px;
    background-color: #e6e6e6;
    border-radius: 7px;
    margin-bottom: 10px;
}

/* SAVED PARTS TAB */

.active a.bapc-list-item {
    color: white
}
/* SAVED PARTS TAB */

.bapc-list-item {
    color: #3b4f65;
    font-weight: 600;
}

textarea.form-control {
    height: 100px;
}

/* BUILDS TAB */
.row.btn-panel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 5px;
}
.btn-panel button {
    margin: 0 3px;
}